body{
    background-color: white;
}

.container{
    background-color: #F7F7F7;
}

.navbar{
    background-color: steelblue;
}

.nav-link{
    font-weight: bold;
}

h1{
    color: #0F4263;
}

h2{
    color: #0F4263;
}

h6{
    color: white;
}

.redes{
    background-color: steelblue;
    display: flex;
    justify-content: space-between;
    height: 10vh;
    padding: 1.5rem;
    flex-wrap: wrap;
    color: white;

}

.conteudo{
    display: flex;
    background-color: steelblue;
    justify-content: center;
    flex-wrap: wrap;
    color: white;   
}

.farma{
    width: 400px;
    text-align: center;
    margin-right: 3%;
    margin-bottom: 20px;
    
}

#texto{
    width: 50%;
    margin: 0 auto;
    line-height: 2em;
}

.servicos{
    text-align: center;
    margin-right: 3%;
    width: 170px;
    margin-bottom: 20px;
}

.servicos a{
    color: white;
}

.institucional{
    text-align: center;
    margin-right: 3%;
    width: 200px;
    margin-bottom: 20px;
}

.institucional a{
    color: white;
}

.privacidade{
    text-align: center;
    margin-right: 3%;
    width: 200px;
    margin-bottom: 20px;
}

.privacidade a{
    color: white;
}

.copi{
    height: 7vh;
    text-align: center;
    padding: 1rem;
    background-color: steelblue;
}

.copi p{
    color: white;
}
